.header {

  &__container {
    max-width: 1230px;
    width: 100%;
    padding: 40px 30px;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include tablet {
      padding: 13px 30px;
    }
  }

  &__left {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__logo {
    width: 34px;
    height: 34px;
  }

  &__text {
    font-family: var(--ff-rubik);
    font-size: 20px;
    font-weight: 500;
    color: var(--c-white);
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
  }

  &__nav {
    @include tablet {
      position: absolute;
      left: 0;
      top: 0;
      height: 100vh;
      width: 100%;
      transform: translateX(-200%);
      transition: 0.4s ease-in-out;
      z-index: 5;
    }
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 60px;
    @include tablet {
      padding: 22px 30px;
      height: 100vh;
      width: 250px;
      background: var(
        --Gardient,
        linear-gradient(90deg, #2563eb 0.36%, #d946ef 201.02%)
      );
      flex-direction: column;
    }
  }

  &__nav_active {
    transform: translateX(0%);
    transition: 0.4s ease-in-out;
  }

  &__backdrop {
    @include tablet {
      //background: var(--c-background);
      background: transparent;
      opacity: 0.8;
      position: absolute;
      right: -250px;
      top: 0;
      width: 100%;
      height: 100vh;
    }
  }

  &__close {
    display: none;
    align-self: flex-end;
    @include tablet {
      display: block;
    }
  }

  &__link {
    color: var(--c-link);
    font-size: 14px;
    font-weight: 500;
  }

  &__btns-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__btn {
    padding: 12px 24px;
  }

  &__burger {
    display: none;
    @include tablet {
      display: block;
    }
  }
}
